<%= form_for @page do |p| %>

  <div class="form-group">
  	<%= p.label :title %>
  	<%= p.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
	  <%= select_tag( :modules[0], options_for_select([['Text Block', 'text_block'],['Waluigi Time', 'waaaaaaaa']], p.object.modules[0]), {class: 'form-control', name: 'page[modules][]'} ) %>
	</div>

	<div class="well">

		<%= p.fields_for :text_blocks, @page.text_blocks[0] do |t| %> 

			<%= render 'text_block_options', :field => t %>

		<% end %>

	</div>
  <div class="form-group">
	  <%= select_tag( :modules[1], options_for_select([['Text Block', 'text_block'],['Waluigi Time', 'waaaaaaaa']], p.object.modules[1]), {class: 'form-control', name: 'page[modules][]'} ) %>
	</div>

	<div class="well">

		<%= p.fields_for :text_blocks, @page.text_blocks[1] do |t| %> 

			<%= render 'text_block_options', :field => t %>

		<% end %>

	</div>

  <div class="form-group">
	  <%= select_tag( :modules[2], options_for_select([['Text Block', 'text_block'],['Waluigi Time', 'waaaaaaaa']], p.object.modules[2]), {class: 'form-control', name: 'page[modules][]'} ) %>
	</div>

	<div class="well">

		<%= p.fields_for :text_blocks, @page.text_blocks[2] do |t| %> 

			<%= render 'text_block_options', :field => t %>

		<% end %>

	</div>

  <div class="form-group">
  	<%= p.submit %>
	</div>

<% end %>