<%= form_for @page do |p| %>

  <div class="form-group">
  	<%= p.label :title %>
  	<%= p.text_field :title, class: 'form-control' %>
  </div>

	<% if @page.new_record? %>

	  <div class="row">
		  <div class="form-group col-md-10">
		  	<%= render 'modules_select', :i => 0, :p => p %>
			</div>

			<div class="form-group col-md-2">
				<%= link_to 'Remove', '#', class: 'btn btn-primary remove-module' %>
			</div>
		</div>

		<div class="well">
			<%= p.fields_for :text_blocks, @page.text_blocks.build do |t| %> 
				<%= render 'text_block_options', :field => t %>
			<% end %>
		</div>

	<% else %>

	  <% for i in 0..@page.modules.length-1 %>

		  <div class="row">
			  <div class="form-group col-md-10">
				  <%= render 'modules_select', :i => i, :p => p %>
				</div>

				<div class="form-group col-md-2">
					<%= link_to 'Remove', '#', class: 'btn btn-primary remove-module' %>
				</div>
			</div>

			<div class="well">
				<%= p.fields_for :text_blocks, @page.text_blocks[i] do |t| %> 
					<%= render 'text_block_options', :field => t %>
				<% end %>
			</div>

	  <% end %>

  <% end %>

  <div class="form-group">
  	<%= link_to_new_module 'Add Section', p, i %>
	</div>

  <div class="form-group">
  	<%= p.submit class: "btn btn-primary" %>
	</div>

<% end %>