<div class="container">

	<h1><%= @page.title %></h1>

	<% @text_block_count = 0 %>
	<% @page.modules.each do |m| %>
		<div class="container module">
			<div class="row">
				<% case m 
					 when 'text_block' %>

					<%= render 'text_block', text_block: @page.text_blocks[@text_block_count] %>
					<% @text_block_count += 1 %>

				<% when 'waaaaaaaa' %>
					<%= image_tag("waluigi_time.jpg", :alt => "Waaaaaaaa!!!") %>
				<% end %>
			</div>
		</div>
	<% end %>

	<ul class="list-group">
		<li class="list-group-item">
			<%= link_to 'pages', pages_path %>
		</li>
		<li class="list-group-item">
			<%= link_to 'edit page', page_edit_path(@page.id) %>
		</li>
	</ul>

</div>